<%- include('../partials/header.ejs') %>

    <div class="sheet-page">
        <form action="/sheet/update?_method=PUT" method="POST">
            <% 
                if (locals.sheet) {
                    var name = sheet.name;
                } else {
                    var name = 'New Sheet';
                }
            %>
            <input id="sheet-title" type="text" name="name" value="<%- name %>">
            <input type="submit" value="Save">
            <div class="sheet-table">

                <button onclick="newColumn(event)">+ Column</button>

                <table id="sheet">
                
                    <tr id="sheet-heading">

                        

                    </tr>
                    
                </table>
        
                <button onclick="newEntry(event)">+ Entry</button>
            </div>

        </form>

    </div>

<%- include('../partials/footer.ejs') %>
