<%- include('../partials/header.ejs') %>

    <div class="sheet-page">

        <div class="sheet-table">

            <button onclick="newColumn()">+ Column</button>
            <form action="">

                <table id="sheet">
                    <th>
                        <input type="text">
                    </th>
                </table>

            </form>
        </div>

    </div>

<%- include('../partials/footer.ejs') %>
