<%- include('./partials/header.ejs') %>

    <div class="web-page landing">
        <div class="container con-1">
            <div class="left">
                <div>
                    Print or export your data with ease
                </div>
                <div>
                    Easily edit rows of data
                </div>
            </div>
            <div class="right">
                <p>Form tables to help keep your work life organized. Create a free account today!</p>
                <button onclick="openPopUp(event)" class="signup">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="popup login" onclick="closePopUp(event)">
        <div class="form-container user-form">
            <button class="close-button login">X</button>
            <div>
                <img src="/images/icon-login.png" alt="login">
            </div>
            <div class="login-form">
                <h4>Member Login</h4>
                <form action="/login" method="POST">

                    <input type="email" name="email" placeholder="&#9993;   Email" required>
                    <input type="password" name="password" placeholder="&#x1F512;  Password" required>
                    <input type="submit" value="LOGIN">
                    <a href="/login-help">Forgot Username/Password?</a>

                </form>
            </div>
        </div>
    </div>
    <div class="popup signup" onclick="closePopUp(event)">
        <div class="form-container user-form">
            <button class="close-button signup">X</button>
            <div>
                <img src="/images/icon-login.png" alt="login">
            </div>
            <div class="login-form">
                <h4>Sign up with Email</h4>
                <form action="/create-account" method="POST">

                    <input type="text" name="username" placeholder="Username" required>
                    <input type="email" name="email" placeholder="&#9993;   Email" required>
                    <input type="password" name="password" placeholder="&#x1F512;  Password" required>
                    <input type="submit" value="Create Account">
                    

                </form>
            </div>
        </div>
    </div>
    

<%- include('./partials/footer.ejs') %>