<%- include('./partials/header.ejs') %>

    <div class="web-page landing">
        <div class="container con-1">
            <div class="left">

            </div>
            <div class="rigth">

            </div>
        </div>
    </div>
    <div class="popup login" onclick="closePopUp(event)">
        <div class="form-container login">
            <div>
                <img src="/images/icon-login.png" alt="login">
            </div>
            <div class="login-form">
                <h4>Member Login</h4>
                <form action="/login" method="POST">

                    <input type="email" name="email" placeholder="&#9993;   Email" required>
                    <input type="password" name="password" placeholder="&#x1F512;  Password" required>
                    <input type="submit" value="LOGIN">
                    <a href="/login-help">Forgot Username/Password?</a>

                </form>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>