@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
html {
    height: 100%;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(71, 69, 97);
    color: white;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: none;
    border-radius: 6px;
}
button:hover {
    cursor: pointer;
}
input[type=submit] {
    cursor: pointer;
}
*:focus {
    outline: none;
}
input {
    border: none;
    background-color: rgb(233, 233, 233);
}
.web-page {
    width: 98%;
    max-width: 1100px;
    margin: 0 auto;
}

/* popup forms */
.popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.411);
    position: fixed;
    display: none;
    z-index: 10;
}
.popup .form-container {
    background-color: white;
    margin: 0px auto;
    width: 70%;
    max-width: 500px;
    flex-wrap: wrap;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    text-align: center;
    margin-top: 100px;
}
.popup form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.popup input {
    font-size: 12px;
    width: 180px;
    padding: 6px 14px;
    border-radius: 18px;
    margin: 4px 0;
}
.popup h4 {
    color: rgb(121, 114, 145);
}



/* header.ejs */
nav .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 1000px;
}
nav .links {
    margin-left: auto;
}
nav a {
    color: white;
}
nav .links a {
    margin: 0 20px;
}
nav .links a:hover {
    border-bottom: 3px solid rgb(64, 228, 151);
}
nav .login-link {
    padding-left: 70px;
    padding-right: 40px;
}
nav .login-link button {
    background: rgb(0, 0, 0);
    padding: 4px 10px;
    border-radius: 5px;
    color: white;
}
nav .login-link button:hover {
    background: rgb(73, 73, 73);
}



/* login form */
.form-container.user-form {
    padding-bottom: 50px;
}
.form-container.user-form div {
    width: 200px;
    margin: 20px 10px;
}
.user-form img {
    margin-top: 50px;
    width: 200px;
    height: 130px;
}
.user-form form {
    margin-top: 20px;
}
.user-form input[type=submit] {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 190px;
    background-color: rgb(85, 219, 103);
    color: white;
}
.user-form .login-form {
    padding-left: 20px;
}
.user-form a {
    font-size: 11px;
    color: rgb(121, 121, 121);
}
.user-form a:hover {
    text-decoration: underline;
}


/* index.ejs */
.landing .con-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.landing .con-1 .left, .landing .con-1 .right {
    width: 400px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
}
.landing .con-1 .right {
    font-size: 40px;
    text-align: left;
    flex-direction: column;
    margin-left: 20px;
}
.landing .con-1 .right button {
    width: 40%;
    margin: 10px auto;
    margin-top: 50px;
    padding: 5px 7px;
}
.landing .con-1 .left div {
    height: 300px;
    width: 200px;
    margin: 0px 6px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 5px;
}
.landing .con-1 .left div:first-child {
    background-color: rgb(121, 114, 145);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.landing .con-1 .left div:nth-child(2) {
    background-color: rgb(149, 204, 189);
    border-top-right-radius: 50px;
}

