<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <nav>
        <div class="content">
            <a href="/">Gridfully</a>
            <div class="links">
                <% 
                    if (locals.loggedIn === undefined) {
                        var homePath = '/';
                    } else {
                        var homePath = `/user/home/${locals.userId}`
                    }
                %>
                <a href="<%- homePath %>">Home</a>
                <a href="/about">About Us</a>
                <a href="/contact">Contact</a>
            </div>
            <div class="login-link account-button">
                <% if (locals.loggedIn) { %>
                    <div class="profile-dropdown">
                        <img src="/images/icon-user.png" alt="icon-user">
                        <div class="dropdown-content">  
                            <a href="/user/profile">Profile</a>
                            <a href="/user/logout">Logout</a>
                        </div>
                    </div>
                <% } else { %>
                    <button onclick="openPopUp(event)" class="login">Login</button>
                <% } %>
            </div>
        </div>
    </nav>
    
