<%- include('../partials/header.ejs') %>

    <div class="web-page home">
        <div class="container user-content">
            <nav>
                <div class="content">
                    <p>Your Sheets</p>
                    <div class="links">
                        <a href="/sheet/create">+ <i class="fa-solid fa-table-cells"></i> Sheet</a>
                    </div>
                </div>
            </nav>
            <div class="sheet-list">
            
                <% if (sheets.length == 0) { %>
    
                    <div class="empty">
                        <img src="/images/icon-empty.png" alt="empty-icon">
                        <p>You have no sheets right now!</p>
                    </div>
    
                <% } else { %>
    
                    <div class="list">

                        <% sheets.forEach((sheet) => { %>

                            <a href="/sheet/<%- sheet._id %>">
                                <div class="list-item">
                                    <i class="fa-solid fa-table-cells"></i> <%- sheet.name %>
                                </div>
                            </a>

                        <% }); %>

                    </div>
    
                <% } %>
            </div>
        </div>
    </div>

<%- include('../partials/footer.ejs') %>
